.carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 20px 0 ;
    width: 100%;
    height: 400px;      
    box-shadow: 0 0 10px #0005;  
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;  
    object-position: center; 
}

.nextImage, .prevImage {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    color: #0005;
    transition: transform 250ms ease-out;
}
.nextImage:hover, .prevImage:hover {
    transform: scale(1.5);
}
.prevImage {
    right: 93%;
}
.nextImage {
    left: 93%;
}


.indicators {
    position: absolute;
    top: 95%;
    right: 0%;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 4px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.active {
    background-color: #333;
}
