svg {
    min-width: none;
}

.header {
    position: relative;
    background: var(--JM-color-strong-green);
    font-family: var(--JM-font-subtitle);
    font-size: clamp(1rem, 2vw, 1.4rem);
    height: 12vh;
    max-height: 100px;
    min-height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    box-shadow: 1px 1px 10px #000;
}

.navbar {
    width: 95vw;
    max-width: 1350px;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 20px;
}

/* Categories and Search */
.searchAndCategories {
    display: flex;
    justify-content: space-evenly;
    font-size: 0.9em;
    flex: 2
}
.searchAndCategories > button {
    border: none;
    background: none;
    display: flex;
    justify-self: center;
    align-self: center;
    height: 50%;
    gap: 7px;
    cursor: pointer;
    color: var(--JM-color-white);
    align-items: center;
}

.searchAndCategories > button > p:hover{
    border-bottom: 1px solid var(--JM-color-pastel-green);
}

.searchAndCategories > button > svg {
    height: 50%;
}

.searchAndCategories > div {
    height: 50%;
    align-self: center;
}


/* Logo */
.logo {
    justify-self: center;
    align-self: center;
    height: 100%;
    flex: 1
}
.logo > svg {
    height: 100%;
    justify-self: center;
}

/* Menu */
.activeMenu {
    display: none;
}

.menu {
    align-self: center;
    justify-self: end;
    width: 80%;
    min-width: fit-content;
    flex: 2;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    min-width: fit-content;
    font-size: 0.8em;
    align-items: center;
}

.menu > a {
    color: var(--JM-color-white);
    text-decoration: none;
    text-wrap: nowrap;
    cursor: pointer;
}
.menu > a:last-of-type {
    color: var(--JM-color-beige);
}

.menu > a:hover {
    border-bottom: 1px solid var(--JM-color-pastel-green);
}


/* ------------------ PHONE SCREEN VIEW -------------------------*/
    @media (max-width: 768px) {
        .navbar {
            width: 90%;
            height: 80%;
            justify-content: space-between;
        }

        /* Menu PHONE SCREEN VIEW -------------- */
        .menu {display: none;}
        .activeMenu {
            display: flex;
            cursor: pointer;
            height: 50px;
            align-self: center;
            justify-content: center;
        }

        /* Search PHONE SCREEN VIEW -------------- */
        .searchAndCategories {
            display: none;
        }

        .search {
            width: 50px;
            justify-self: center;
            align-self: center;
        }




    }