svg {
    min-width: none;
}

.header {
    position: relative;
    background: var(--JM-color-strong-green);
    font-family: var(--JM-font-subtitle);
    font-size: clamp(1rem, 2vw, 1.4rem);
    height: 20vh;
    max-height: 100px;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    box-shadow: 1px 1px 10px #000;
}

.navbar {
    width: 95vw;
    max-width: 1350px;
    height: 80%;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-content: center;
    gap: 20px;
}

/* Categories and Search */
.searchAndCategories {
    display: flex;
    gap: 30px;
    font-size: 0.9em;
}
.searchAndCategories > span {
    display: flex;
    gap: 7px;
    cursor: pointer;
    color: var(--JM-color-white);
    align-items: center;
}
.searchAndCategories > span > svg {
    height: 40%;
}

.searchAndCategories > div {
    height: 50%;
    align-self: center;
}


/* Logo */
.logoSm {
    display: none;
}
.logo {
    height: 50px;
}
.logo > svg {
    height: 100%;
}

/* Menu */
.activeMenu {
    display: none;
}

.menu {
    align-self: center;
    justify-self: end;
    width: 80%;
    
}

.menu > ul {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    min-width: fit-content;
    font-size: 0.8em;
    align-items: center;
}

.menu > ul > a {
    color: var(--JM-color-white);
    text-decoration: none;
    text-wrap: nowrap;
    cursor: pointer;
}
.menu > ul > a:last-of-type {
    color: var(--JM-color-beige);
}

.menu > ul > a:hover {
    border-bottom: 1px solid var(--JM-color-pastel-green);
}


/* ------------------ PHONE SCREEN VIEW -------------------------*/
    @media (max-width: 768px) {
        .navbar {
            grid-template-columns: repeat(3, 1fr);
        }

        /* Menu PHONE SCREEN VIEW -------------- */
        .menu > ul {display: none;}
        .activeMenu {
            display: flex;
            cursor: pointer;
            height: 100%;
            align-self: center;
            justify-content: center;
        }
        .activeMenu > svg{
            height: 50%;
            align-self: center;    
        }

        

        .searchAndCategories > span {
            display: none;
        }
    }