.categoriesMenu {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    padding: 50px 20px;
    position: absolute;
    width: 100%;
    background: var(--JM-color-pastel-green);
    left: 0;
    top: 100%;
    z-index: 3;
}

/* Categories List ------------------------------------------ */

.categoriesList {
    margin: 0;
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--JM-color-white);
    max-height: 260px;
}

.categoriesList > li {
    width: fit-content;
    cursor: pointer;
    display: flex;
}

.categoriesList > li  > svg {
    height: 0.8em;
    padding-left: 10px;
    align-self: center;
}

.categoriesList > li:hover {
    color: var(--JM-color-strong-green);
}

/* Filtered Posts ------------------------------------------ */

.filteredPosts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 20px;
    flex: 1;
}

.filteredPosts > a {
    text-decoration: none;
    height: fit-content;
    color: var(--JM-color-white);
    font-weight: 100;
    max-width: 250px ;
}


.filteredPosts > a > span {
    text-align: center;
    font-size: 0.8em;
    text-shadow: 0 0 10px #0008;
}

.filteredPosts > a > img {
    width: 100%;
    height: 200px;      
    object-fit: cover;  
    object-position: center; 
    justify-self: center;
    box-shadow: 0 0 10px #0008;
    border-radius: 5px;
    transition: transform 250ms ease;
}
.filteredPosts > a > img:hover {
    transform: scale(1.04);
}
