:focus {
    outline: none;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: space-around;
}


/* POSTS LOADING -------------------------------- */
.postLoading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 80px;
    gap: 10px;
}

.postLoading > p {
    color: var(--JM-color-strong-green);
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.postLoading > img {
    min-width: 250px;
    max-width: 400px;
    width: 100%;
}


/* MOST RECENT POSTS-------------------------------- */
.mostRelevant {
    height: fit-content;
    padding: 0 0 50px 0;
    margin: 0 50px;
    border-bottom: solid 1px #ddd;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.mostRelevant > ul {
    margin: 0;
    display: flex;
    gap: 40px;
    padding: 0 20px 10px 20px ;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: solid 1px #ddd;
}

.mostRelevant > ul > li > button {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    letter-spacing: 1.5px;
}

.mostRelevantSelect {
    border-bottom: solid 2px var(--JM-color-pastel-green);
}



/* ALL POSTS -------------------------------- */
.allPosts {
    padding:  0 20px;

}
.allPosts > h2 {
    font-size: 2em;
    padding: 10px 0;
}
.allPosts > div {
    margin: 10px 0;
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 25px; 
    justify-content: center;
    max-height: 1000px;
    overflow-y: auto; 
    overflow-x: hidden
}

.allPosts > div::-webkit-scrollbar { 
    width: 8px; 
}


.carousel {
    position: relative;
}


.carousel > img  {
    width: 100%;
    height: 50vw;
    max-height: 400px;
    object-fit: cover;  
    object-position: center; 
}

.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0003;
    color: #fff;
    padding: 50px 0 0 50px;
}

.slider > h1 {
    font-size: 3em;
    text-shadow: 0 0 15px #000;
}
.slider > h3 {
    font-size: 1.5em;
    text-shadow: 0 0 15px #000;
}


/* ------------------ PHONE SCREEN VIEW -------------------------*/
@media (max-width: 768px) {
    .mostRelevant {
        margin: 0 25px;
        padding: 0 0 35px 0;

    }
    .mostRelevant > ul {
        align-self: center;
    }
    .mainContainer {
        gap: 40px
    }

    .allPosts {
        padding:  0 10px;

    }
}