.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 40px 0;
}

.about > div:first-of-type {
    display: flex;
    justify-content: space-around;
    align-items: center;;
    width: 70%;
}

.about > div:first-of-type > svg {
    width: 100px;
}


.about > div:first-of-type > h3 {
    border-bottom: solid 1px #0007;
    width: fit-content;
}

.about > div:nth-of-type(2) {
    width: 70%;
    height: 100%;
    font-size: 1.2em;
    color: var(--JM-color-black);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.about > div:nth-of-type(2) > p {
    border-bottom: solid 1px #ddd;
    padding: 0 20px 20px 20px ;
    margin: 20px 0;
}


/* BUTTON ----------------------------------- */

.about > a {
    text-decoration: none;
    background: none;
    border: none;
    color: #000a;
    align-self: center;
    margin: 20px 0 20px 0;
    cursor: pointer;
    transition: transform 250ms ease;
}

.about > a:hover {
    transform: scale(1.05);
}

/* ------------------ PHONE SCREEN VIEW -------------------------*/
    @media (max-width: 768px) {

        .about {
            padding: 20px 0;
        }
        
        .about > div:first-of-type{
            width: 100%;
        }

        .about > div:nth-of-type(2) {
            width: 100%;
        }
    }