.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 20px 0 0 0 ;
    width: fit-content;
    margin-top: 20px;
}

.about > div:first-of-type {
    display: flex;
    justify-content: space-around;
    align-items: center;;
    width: 70%;
}

.about > div:first-of-type > svg {
    width: 100px;
}


.about > div:first-of-type > h3 {
    border-bottom: solid 1px #0007;
    width: fit-content;
}

.about > div:last-of-type {
    width: 70%;
    height: 100%;
    font-size: 1.2em;
    color: var(--JM-color-black);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.about > div:last-of-type > p {
    border-bottom: solid 1px #ddd;
    padding: 0 20px 20px 20px ;
    margin: 20px 0;
}