:focus {
    outline: none;
}

/* ALL POSTS -------------------------------- */
.allPosts {
    padding: 0 25px;
}
.allPosts > div {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 25px; 
    justify-content: center;

}