.userProfile {
    display: flex;
    gap: 10px;
    height: 80vh;
    width: 90%;
    justify-self: center;
}   


/* Profile ------------------------------------------------ */
.profile {
    background: var(--JM-color-bg-grey);
    border-radius: 5px;
    flex: 1;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
    box-shadow: 0px 0px 10px #0007;
}

.profile > div {
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
    position: relative;
    background: #0007;
    height: 30%;
    min-height: 90px;
    max-height: 120px;
}

.profile > div > svg,
.profile > div > img {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 35%;
    background: #0007;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 0px 10px #000a;
    align-content: center;
    text-align: center;
    font-size: 0.7em;
    color: var(--JM-color-white);
}

/* User Information */
.userInformation {
    padding: 0 0 0 15px;
}
.userInformation > li {
    padding: 0 0 10px 0;
}
.userInformation > li > span {
    color: var(--JM-color-text-grey);
    font-size: 0.8em;
}

.profile > button {
    width: 50%;
    align-self: center;
    margin: 0 0 10px 0;
    border: none;
    cursor: pointer;
    color: var(--JM-color-text-grey);
    transition: transform 0.3s ease, color 0.3s ease;
}
.profile > button:hover {
    color: var(--JM-color-strong-green);
    transform: scale(1.05)
}


/* Content ------------------------------------------------ */
.content {
    padding: 10px;
    background: var(--JM-color-bg-grey);
    border-radius: 5px;
    box-shadow: 0px 0px 10px #0007;
    flex: 2;
    height: fit-content;
}

.content > h3 {
    text-align: center;
    font-weight: 100;
    padding: 0 0 30px 0;
}

.content > div {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.content > div > div {
    background: #0007;
    height: 150px;
    width: 150px;
    box-shadow: 0px 0px 5px #000a;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.content > div > div:hover {
    transform: scale(1.05)
}


/* ------------------ PHONE SCREEN VIEW -------------------------*/
    @media (max-width: 768px) {
        .userProfile {
            flex-direction: column;
            width: 97%;
            margin-top: -30px;
        }

        .userInformation {
            padding: 0 10px;
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
        }
    }