.cardSmall {
    height: 450px;
    min-height: 350px;
    max-height: 550px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 5px #0003;  
    padding: 10px;
}

.cardSmall > img {
    margin: 0 0 10px 0 ;
    width: 100%;
    height: 200px;      
    object-fit: cover;  
    object-position: center; 
}

.cardSmall > h1 {
    font-size: 1.5em;
}

.cardSmall > h3 {
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardSmall > span:first-of-type {
    font-size: 0.7em;
    letter-spacing: 2px;
    background: var(--JM-color-pastel-green);
    color: var(--JM-color-white);
    padding: 2px 6px 0 6px;
    border-radius: 10px;
    width: fit-content;
    margin: 10px 0 0 0 ;
}

/* TEXT -------------------------------------------- */

.cardSmall > p {
    display: -webkit-box;        
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;       
    line-clamp: 3;               
    overflow: hidden;   
    margin: 5px 0 10px 0;          
}


/* DATE -------------------------------------------- */

.published {
    color: #555;
    font-size: 0.7em;
}

/* TAGS -------------------------------------------- */

.cardSmall > div:last-of-type {
    display: flex;
}

.tags > svg {
    margin: 0 3px 0 0;
}

.tags {
    font-size: 0.7em;
    letter-spacing: 2px;
    color: #555;
    background: #dddc;
    display: flex;
    padding: 1px 5px;
    border-radius: 5px;
    margin: 0 5px 0 0 ;
    width: fit-content;
}
