.cardSmall {
    max-width: 380px;
    height: 450px;
    min-height: 350px;
    max-height: 550px;
    display: flex;
    flex-direction: column;
}

.cardSmall > img {
    margin: 0 0 10px 0 ;
    width: 100%;
    height: 200px;      
    object-fit: cover;  
    object-position: center; 
}

.cardSmall > h1 {
    font-size: 1.7em;
}

.cardSmall > h3 {
    font-size: 1.2em;
}

.cardSmall > span:first-of-type {
    font-size: 0.7em;
    letter-spacing: 2px;
    background: var(--JM-color-pastel-green);
    color: var(--JM-color-white);
    padding: 2px 6px 0 6px;
    border-radius: 10px;
    width: fit-content;
    margin: 10px 0 0 0 ;
}

.cardSmall > p {
    white-space: nowrap;        
    overflow: hidden;       
    text-overflow: ellipsis;    
    flex: 1;
}

/* DATE -------------------------------------------- */

.published {
    color: #555;
    font-size: 0.7em;
}

/* TAGS -------------------------------------------- */

.cardSmall > div:last-of-type {
    display: flex;
}

.tags > svg {
    margin: 0 3px 0 0;
}

.tags {
    font-size: 0.7em;
    letter-spacing: 2px;
    color: #555;
    background: #dddc;
    display: flex;
    padding: 1px 5px;
    border-radius: 5px;
    margin: 0 5px 0 0 ;
    width: fit-content;
}
