.simpleFooter {
    padding: 0 20px;
    background: var(--JM-color-beige);
    color: var(--JM-color-white);
}

.simpleFooter > div {
    margin: 10px 0;
    border-top: 1px solid #0e3c2499;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Social Networks ------------------------------------------ */
.socialNetworks{
    display: flex;
    gap: 15px;
}
.socialNetworks > a > svg {
    height: 25px;
    transition: transform 250ms ease;
}

.socialNetworks > a > svg:hover {
    transform: scale(1.15);
}

/* By ------------------------------------------------ */
.by {
    font-size: 0.7em;
    padding: 10px 0 0 0;
    color: var(--JM-color-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.by > p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 0 0 5px 0;
}

.by > p > a {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--JM-color-black);
    font-weight: bolder;
    transition: transform 250ms ease;
}
.by > p > a:hover {
    transform: scale(1.1);
}

.by > p > a > svg {
    height: 20px;
    
}



/* ------------------ PHONE SCREEN VIEW -------------------------*/
    @media (max-width: 768px) {

        .socialNetworks > a > svg {
            height: 15px;
        }

        /* By ------------------------------------------------ */
        .by > p > a > svg {
            height: 15px;
        }

    }