.notFound404 {
    justify-self: center;
    display: flex;
    flex-direction: column;
    padding: 5vw;
    gap: 10px;
    background: #fff;   
    border-radius: 50%;
    color: #202020;
    width: 100%;
}

.notFound404 > span {
    align-self: center;
}

.notFound404 > h4 {
    align-self: center;
    font-size: 0.8em;
}

.notFound404 > a {
    text-decoration: none;
    color: #404040;
    align-self: center;
    font-size: 0.7em;
}

.notFound404 a:hover {
    text-decoration: underline;
}


/* RANDOM POST ---------------------- */
.randomSection {
    margin: 20px 0 0 0;
}

.randomSection > h4 {
    padding: 0 0 5px 20px;
    border-bottom: 1px solid #dfdfdf;
}

.randomSection > div {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.randomPost {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 2px 5px #0003;
    border-radius: 5px;
    transition: transform 250ms ease;
}

.randomPost:hover {
    transform: scale(1.04);
}

.randomPost > img {
    width: 100%;
    height: 85%;
    max-height: 200px;
    min-height: 100px;
    object-fit: cover;  
    object-position: center; 
}

.randomPost > h5 {
    padding: 5px;
    text-decoration: none;
    color: #000;
}