.termsAndConditions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 40px 0;
}

/* ------------------------------------------------ */

.termsAndConditions > div:first-of-type {
    display: flex;
    justify-content: space-around;
    align-items: center;;
    width: 70%;
}

.termsAndConditions > div:first-of-type > svg {
    width: 100px;
}

.termsAndConditions > div:first-of-type > div {
    text-align: center;
}

.termsAndConditions > div:first-of-type > div > h3 {
    width: fit-content;
    font-weight: bold;
    font-size: 1.3em;
}

.termsAndConditions > div:first-of-type > div > span {
    font-size: 0.8em;
    text-align: center;
}

/* ------------------------------------------------ */

.infoSection {
    width: 70%;
    justify-self: center;
    padding: 25px 0 15px 0;
    border-bottom: solid 1px #ddd;
}

.infoSection > h2 {
    font-size: 1.15em;
}

.infoSection > p, .infoSection > ul {
    font-size: 1em;
}

/* ------------------------------------------------ */

.goHome {
    text-decoration: none;
    background: none;
    border: none;
    color: #000a;
    align-self: center;
    margin: 40px 0 20px 0;
    cursor: pointer;
    transition: transform 250ms ease;
}

.goHome:hover {
    transform: scale(1.05);
}