.searchResult {
    padding: 20px;
    position: absolute;
    width: 100vw;
    min-height: fit-content;
    background: var(--JM-color-pastel-green);
    left: 0;
    top: 100%;
    z-index: 3;
}


/* Searched Post ------------------------------------------ */

.searchedPost {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 20px;
    flex: 1;
}

.searchedPost > a {
    text-decoration: none;
    height: fit-content;
    color: var(--JM-color-white);
    font-weight: 100;
    max-width: 250px ;
}


.searchedPost > a > span {
    text-align: center;
    font-size: 0.8em;
    text-shadow: 0 0 10px #0008;
}

.searchedPost > a > img {
    width: 100%;
    height: 200px;      
    object-fit: cover;  
    object-position: center; 
    justify-self: center;
    box-shadow: 0 0 10px #0008;
    border-radius: 5px;
    transition: transform 250ms ease;
}
.searchedPost > a > img:hover {
    transform: scale(1.04);
}
