.commentsBox {
    border: solid 1px #0004;
    margin: 50px 10px 10px 10px;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    padding: 10px;
}

.commentsBox > h5 {
    border-bottom: solid 1px #0002;
    padding: 5px 0 10px 20px;
}

.commentsBox > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.commentsBox > div > svg {
    width: 25%;
}

.commentsBox > div > p {
    color: #dfdfdf;
    font-size: 1.5em;
}