.termsAndPrivacy {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    width: fit-content;
    padding: 40px 0;
    width: 70%;
}

.infoTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;;
    gap: 10px;
}
/* ------------------------------------------------- */
.infoTitle > div:first-of-type {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    flex-wrap: wrap;
}

.notActive, .active{
    display: flex;
    gap: 2px;
    cursor: pointer;
}

.notActive > svg, 
.active > svg {
    min-width: 20px;
    max-width: 30px;
    width: 2vw;
}

.notActive {
    color: #dfdfdf;
}

/* ------------------------------------------------- */
.infoTitle > div:last-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.infoTitle > div:last-of-type > svg{
    min-width: 50px;
    max-width: 100px;
    width: 9vw;
}

.infoTitle > div:last-of-type > span {
    font-size: 0.9em;
    text-align: center;
}


/* ------------------------------------------------ */

.goHome {
    text-decoration: none;
    background: none;
    border: none;
    color: #000a;
    align-self: center;
    margin: 40px 0 20px 0;
    cursor: pointer;
    transition: transform 250ms ease;
}

.goHome:hover {
    transform: scale(1.05);
}




/* ------------------ PHONE SCREEN VIEW -------------------------*/
    @media (max-width: 768px) {

        .termsAndPrivacy {
            width: 90%;
        }
    }