:focus {
    outline: none;
}

.login {
    font-size: clamp(1rem, 2vw, 1.3rem);

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    min-height: max-content;
    padding: 15px 0;
    background:var(--JM-color-bg-grey);
    box-shadow: 0px 0px 5px #0003;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 30%;
    min-width: max-content;
    max-width: 500px;
    height: 90%;
    min-height: max-content;
    max-height: 250px;
    padding: 30px 15px;
    border-radius: 5px;
    background: var(--JM-color-white);

    box-shadow: 0px 0px 5px #0003;
}

.input {
    display: flex;
    gap: 10px;
    width: 100%;
}

.input > input {
    border: none;
    border-bottom: 1px solid #0005;
    font-size: 0.7em;
    width: 100%;
    color: var(--JM-color-text-base);
}

.input > input:focus {
    border-bottom: 2px solid var(--JM-color-strong-green);
}

.enabledButton {
    background-color: var(--JM-color-pastel-green);
    color: var(--JM-color-white);
    width: 100%;
    min-height: 30px;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    letter-spacing: 0.5px;
    padding: 5px 0;
    font-size: 0.8em;
}
.enabledButton:hover {
    background-color: var(--JM-color-strong-green);
}

.disabledButton {
    color: var(--JM-color-strong-green);
    cursor: not-allowed;
    width: 100%;
    min-height: 30px;
    border-radius: 0.375rem;
    border: none;
    letter-spacing: 0.5px;
    padding: 5px 0;
    margin-top: 20px;
    font-size: 0.8em;
}

.errorMessasge {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--JM-color-text-error);
    font-size: 0.6em;
}

.errorMessasge > p:nth-of-type(1) {
    font-weight: bold;
}