
.infoBanner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #000d;
    color: #fff;
    padding: 14px 16px;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    gap: 12px;
}

.infoText > a {
    color: var(--JM-color-pastel-green);
    padding: 0 7px;
    font-weight: bold;
    letter-spacing: 1px;
}


.closeButton {
    background: var(--JM-color-pastel-green);
    border: none;
    color: #fff;
    min-width: 50px;
    width: 20%;
    padding: 10px 0;
    cursor: pointer;
    border-radius: 4px;
    transition: transform 250ms ease;
}

.closeButton:hover {
    transform: scale(1.1);
}